:root{
  --text-primary: hsla(0, 0%, 2%, 1);
  --text-secondary: hsla(0, 0%, 22%, 1);
  --bg-primary: hsla(0, 0%, 98%, 1);
  --bg-secondary: hsla(220, 10%, 88%, 1);
  --bg-hover: hsla(0, 0%, 72%, 1);
  --shadow: hsla(0, 0%, 0%, 0.329);
  --accent-color: hsla(220, 100%, 62%, 1);
  --green: hsla(120, 80%, 50%, 1);
  --red: hsla(0, 80%, 50%, 1);
  --yellow: hsla(55, 80%, 50%, 1);

  --space-xs: min(2.5%, .25rem);
  --space-s: min(5%, .5rem);
  --space-m: min(10%, 1rem);
  --space-l: min(12.5%, .75rem);
  --space-x: min(15%, 1.5rem);
  --space-xl: min(20%, 2rem);

  --font-size-h1: clamp(2rem, calc(20vw + .5rem), 3.5rem);
  --font-size-h2: clamp(1.5rem, calc(15vw + .5rem), 3rem);
  --font-size-h3: clamp(1.1rem, calc(11vw + .5rem), 2.5rem);
  --font-size-h4: clamp(.8rem, calc(8vw + .5rem), 2rem);
  --font-size-h5: clamp(.5rem, calc(6vw + .5rem), 1.5rem);
  --font-size-h6: clamp(.4rem, calc(5vw + .5rem), 1.4rem);
  --font-size-h7: clamp(.35rem, calc(4.5vw + .5rem), 1.3rem);
  --font-size-p: clamp(.4rem, calc(4vw + .5rem), 1.2rem);
  --font-size-small: clamp(.1rem, calc(3vw + .5rem), 1rem);

  --border-radius-small: .5rem;
  --border-radius-medium: .8rem;
  --border-radius-large: 1rem;
}

*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: grid;
  place-content: center;
  height: 100dvh;
}

.notes{
  width: 95dvw;
  max-width: 700px;
  background-color: var(--bg-secondary);
  height: 75dvh;
  max-height: 900px;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 8px var(--shadow);
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 100%;
  padding: var(--space-xs);
}

.note_list{
  display: flex;
  flex-direction: column;
  gap: var(--space-x) 0;
}

.note{
  display: grid;
  grid-template-columns: 87% 6% 6%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "title edit_button delete_button"
  "description edit_button delete_button";
  padding: var(--space-xs);
  height: min-content;
  max-height: 60px;
  background-color: var(--bg-primary);
  border-radius: var(--border-radius-small);
  align-items: center;
  gap: var(--space-xs) var(--space-xs);
}

.note_title{
  font-size: var(--font-size-h7);
  font-weight: 600;
  grid-template: title;
}

.note_description{
  font-size: var(--font-size-small);
  font-weight: 400;
  grid-area: description;
}

.note_title, .note_description{
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.note_edit_button, .note_save_button{
  grid-area: edit_button;
  background-color: var(--green);
}

.note_delete_button{
  grid-area: delete_button;
  background-color: var(--red);
}

button{
  border: 0;
  border-radius: var(--border-radius-small);
  padding: var(--space-l);
}

button:hover{
  opacity: .8;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.note input{
  background-color: var(--bg-secondary);
  border: 0;
  padding: var(--space-xs);
  color: var(--accent-color);
  border-radius: var(--border-radius-small);
}

.note input:focus-visible{
  outline: none;
}

.button_add_note{
  justify-self: end;
  background-color: var(--accent-color);
}

.add_note_dialog{
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.411);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  place-content: center;
  border: 0;
}

.form{
  display: flex;
  flex-direction: column;
  height: 50dvh;
  max-height: max-content;
  width: 80dvw;
  max-width: 340px;
  background-color: var(--bg-secondary);
  padding: var(--space-s);
  border-radius: var(--border-radius-medium);
  gap: var(--space-l) 0;
}

.form label{
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
}

.form_input{
  border: 0;
  background-color: var(--bg-primary);
  padding: var(--space-l) var(--space-xs);
  color: var(--accent-color);
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-small);
}

.form_input::placeholder{
  font-size: var(--font-size-small);
}

.form_input:focus-visible{
  outline: none;
}

.form_buttons_container{
  display: flex;
  gap: 0 var(--space-xs);
  justify-content: flex-end;
}

.form button{
  font-size: var(--font-size-small);
}

.form_cancel_button{
  background-color: var(--bg-primary);
  color: var(--accent-color);
}

.form_save_button{
  background-color: var(--accent-color);
  color: var(--bg-primary);
}